

.my-interests {
    margin-top: -75px;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size:x-large;
    text-shadow: black;
    text-align: center;
    -webkit-animation: tracking-in-contract-bck 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}




.home-image {
    margin-top: -3px;
    margin-left: -8px;
    height: 100px;
    width: 100px;
    border-radius: 1000px;
}

.home-button {
    margin-top: 20px;
    margin-left: 1300px;
    height: 100px;
    width: 100px;
    border-radius: 1000px;
}

.home-button:hover {
    filter: brightness(80%)
}

.ball {
    margin-top: 50px;
    margin-left: -520px;
    height: 100px;
    width: 100px;
    border-radius: 1000px;
    -webkit-animation: roll-in-left 1.5s ease-in-out both;
	        animation: roll-in-left 1.5s ease-in-out both;
}

.ball-text {
    width: 30vw;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    margin-left: 350px;
    font-size:x-large;
    -webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1s both;
    animation: swing-in-top-fwd 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1s both;
}


.camera {
    margin-block-end: -13vh;
    margin-left: 870px;
    height: 100px;
    width: 7vw;
    border-radius: 1000px;
    -webkit-animation: flicker-in-1 1s linear 1.2s both;
    animation: flicker-in-1 1s linear 1.2s both;
}

.camera-text {
    margin-top: -650px;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size:x-large;
    margin-left: 800px;
}

.camera-1 {
    -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.1s both;
}


.camera-2 {
    -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.2s both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.2s both;
}

.camera-3 {
    -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.3s both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.3s both;
}

.camera-4 {
    -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.4s both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.4s both;
}

.camera-5 {
    -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

.camera-6 {
    -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.6s both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.6s both;
}

.camera-7 {
    -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.7s both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.7s both;
}

.camera-8 {
    -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.8s both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.8s both;
}

















.sphere {
    margin-top: 5vh;
    margin-left: 450px;
    height: 100px;
    width: 7vw;
    border-radius: 1000px;
    -webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
    animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

.sphere-text {
    margin-top: 1vh;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size:x-large;
    margin-left: 42vh;

    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3.5s both;

}



.Washington {
    height: 30vh;
    width: 19.5vw;
    margin-top: 10px;
    margin-bottom: 200px;
    margin-left: 1130px;
    border-radius: 30px;
    -webkit-animation: flip-in-ver-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 13s both;
    animation: flip-in-ver-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 13s both;
}

.Messi {
    height: 47vh;
    width: 16vw;
    margin-top: -1000px;
    margin-block-end: 22vh;
    margin-left: 10vh;
    border-radius: 30px;
	-webkit-animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6.3s both;
	        animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6.3s both;
}

.MLK {
    height: 50vh;
    width: 19.5vw;
    margin-top: -600px;
    margin-left: 1130px;
    border-radius: 30px;
	-webkit-animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 9s both;
	        animation: fade-in-top 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 9s both;

}

.lamp {

    height: 50vh;
    width: 21.5vw;
    margin-top: -300px;
    margin-left: 800px;
    border-radius: 30px;
    -webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 11s both;
    animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 11s both;
}


.cool {
    height: 400px;
    width: 19.5vw;
    margin-top: -300px;
    margin-left: 1130px;
    border-radius: 30px;
    -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 16s both;
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 16s both;
}

.flowers {
    height: 45vh;
    width: 19.5vw;
    margin-top: 15px;
    margin-left: 1130px;
    border-radius: 30px;
    -webkit-animation: tilt-in-fwd-tr 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 21s both;
    animation: tilt-in-fwd-tr 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 21s both;
}


.lion {
    height: 55vh;
    width: 19.5vw;
    margin-top: -500px;
    margin-left: 820px;
    border-radius: 30px; 
	-webkit-animation: flip-in-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 19s both;
	        animation: flip-in-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 19s both;
}

.images{
    margin-top: -20vh;
    width: 200vw;
}

.Wolverine {
    height: 30vh;
    width: 19.5vw;
    margin-top: -320vh;
    margin-left: 2vw;
    border-radius: 30px;
    -webkit-animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 13s both;
	        animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 13s both;

}
.sabers {
margin-block-end: -47vh;
height: 45vh;
width: 19.5vw;
margin-top: -300vh;
margin-left: 2vw;
border-radius: 30px;
-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 17s both;
animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 17s both;
}

.nova {
    margin-block-end: -42vh;
    height: 45vh;
    width: 22vw;
    margin-top: -300vh;
    margin-left: 23vw;
    border-radius: 30px;
    -webkit-animation: tilt-in-fwd-tr 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 14s both;
    animation: tilt-in-fwd-tr 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 14s both;
    }

.helmet {
    margin-block-end: -90vh;
    height: 45vh;
    width: 22vw;
    margin-top: -300vh;
    margin-left: 2vw;
    border-radius: 30px;
    -webkit-animation: rotate-in-2-fwd-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 24s both;
	        animation: rotate-in-2-fwd-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 24s both;
}

.helmet2 {
    margin-block-end: -75vh;
    height: 35vh;
    width: 20vw;
    margin-left: 25vw;
    border-radius: 30px;
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) 21s both;
	        animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) 21s both;

}
.rings {
    margin-block-end: -90vh;
    height: 15vh;
    width: 20vw;
    margin-top: -300vh;
    margin-left: 25vw;
    border-radius: 30px;
    -webkit-animation: slide-in-fwd-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 26s both;
	        animation: slide-in-fwd-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 26s both;
}

body
{
    background-image: url("https://img3.wallspic.com/crops/4/3/0/3/5/153034/153034-oneplus_6-oneplus_6t-android-colorfulness-red-2160x4560.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:10vh;
    color: white;
}







/* ----------------------------------------------
 * Generated by Animista on 2023-7-9 8:47:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck THIS IS FOR TEXT!!!!!!!
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  




  /* ----------------------------------------------
 * Generated by Animista on 2023-7-9 10:12:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left THIS IS FOR IMAGES!!!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }




  /* ----------------------------------------------
 * Generated by Animista on 2023-7-9 11:13:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd THIS IS FOR TEXT!!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2023-7-9 23:2:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1 THIS IS FOR IMAGES!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }




/* ----------------------------------------------
 * Generated by Animista on 2023-7-10 7:53:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-left THIS IS FOR TEXT!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2023-7-10 16:42:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center THIS IS FOR BUTTONS!!!!
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  













@keyframes Fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@keyframes text-slide-left {
    from {
        margin-let: 50px;
    }
    to {
        margin-left: 42%;
    }
}


@keyframes text-slide-right {
    from {
        margin-left: 700px;
    }
    to {
        margin-left: 35%;
    }
}
/*     animation: text-slide-left 1s linear forwards;



/* ----------------------------------------------
 * Generated by Animista on 2023-7-6 18:47:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  








 /* ----------------------------------------------
 * Generated by Animista on 2023-7-9 5:6:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center THIS IS FOR BUTTONS!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  
  





  /* ----------------------------------------------
 * Generated by Animista on 2023-7-9 4:47:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left THIS IS FOR TEXT!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  







  /* ----------------------------------------------
 * Generated by Animista on 2023-7-9 4:50:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-right THIS IS FOR TEXT!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  






  /* ----------------------------------------------
 * Generated by Animista on 2023-7-9 5:9:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center THIS IS FOR IMAGES!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  



  /* ----------------------------------------------
 * Generated by Animista on 2023-7-9 10:19:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-fwd  THIS IS FOR BUTTONS!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
              transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  





/* ----------------------------------------------
 * Generated by Animista on 2023-7-10 16:57:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center THIS IS FOR TEXT!!!!!!!!
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  






/* ----------------------------------------------
 * Generated by Animista on 2023-7-10 18:22:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom THIS IS FOR TEXT!!!!!!!
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  






  /* ----------------------------------------------
 * Generated by Animista on 2023-7-10 19:50:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top THIS IS FOR IMAGES!!!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  






 /* ----------------------------------------------
 * Generated by Animista on 2023-7-10 20:5:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom THIS IS FOR IMAGES!!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  





  /* ----------------------------------------------
 * Generated by Animista on 2023-7-10 20:7:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-right THIS IS FOR IMAGES!!!!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }

  


  /* ----------------------------------------------
 * Generated by Animista on 2023-7-10 20:21:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right THIS IS FOR IMAGES!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  


  /* ----------------------------------------------
 * Generated by Animista on 2023-7-10 20:28:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  


/* ----------------------------------------------
 * Generated by Animista on 2023-7-10 23:29:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr THIS IS FOR TEXT!!!!!!!
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  



  /* ----------------------------------------------
 * Generated by Animista on 2023-7-10 23:32:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom THIS IS FOR IMAGES!!!!!!!!!
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  



  /* ----------------------------------------------
 * Generated by Animista on 2023-7-11 6:10:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  




  /* ----------------------------------------------
 * Generated by Animista on 2023-7-11 7:47:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  


  /* ----------------------------------------------
 * Generated by Animista on 2023-7-11 7:54:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-2-fwd-cw
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-2-fwd-cw {
    0% {
      -webkit-transform: translateZ(-200px) rotate(-45deg);
              transform: translateZ(-200px) rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-2-fwd-cw {
    0% {
      -webkit-transform: translateZ(-200px) rotate(-45deg);
              transform: translateZ(-200px) rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
  


  /* ----------------------------------------------
 * Generated by Animista on 2023-7-11 7:56:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-left {
    0% {
      -webkit-transform: translateZ(-1400px) translateX(-1000px);
              transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-left {
    0% {
      -webkit-transform: translateZ(-1400px) translateX(-1000px);
              transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
  