
    .Header-1 {
    font-family: "Montserrat";
    text-indent: 100px;
    }

    .r{
        display: flex;
      flex-direction: row;
        margin-top: 2px;
        margin-left: 10px;
        margin-right: 20px;
      }

      header {
        background-image: url("https://cdn.wallpapersafari.com/14/36/S38pnJ.jpg");
       background-repeat: no-repeat;
       background-size: 100%;
         padding: 20px 16px; }